data/taxi_data.parquet
data/taxi_data_preprocessed_missing.parquet
data/processed_taxi_data.pt
data/taxi_data_preprocessed_missing_tip.parquet
/models/random_forest_tip_classifier.pkl
/models/k-nearest_neighbors_tip_classifier.pkl
